@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC,Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}
#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
ul{
  list-style: none;
}
// main-container global css
.app-container {
  font-size: 14px;
  color: #282D32;

  & .main-container{
    font-family: Microsoft YaHei,PingFangSC-Regular;
  }
  & .panel{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 9px 0px rgba(224, 224, 224, 0.14);
    padding: 20px;
  }
  & .btn{
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 13px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 20px;
  }
  & .search-btn{
    background: $main;
    margin-top: 14px;

  }
  & .primary-btn{
    background: $btnBlue;
  }
  & .export-btn{
    background: $btnOrange;
  }
  & .success-btn{
    background: $main;
  }
}
/*滚动条*/
//滚动条的宽度

::-webkit-scrollbar {

  width: 8px;

  height: 8px;

}

//滚动条的滑块

::-webkit-scrollbar-thumb {

  background-color: #C6CFDC;

  border-radius: 5px;

}
