#app {

  .main-container {
    min-height: 100%;
    display:flex;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    font-size: 0px;
    position: relative;

    .siderbar-collapse{
      width: 15px;
      height: 47px;
      position: absolute;
      right:-16px;
      top:calc(50% - 50px);
      background: #fff;
      padding-top: 13px;
      cursor: pointer;
      z-index: 1000;
      color: #949eaa;
      .svg-icon{
        width: 15px;
        height: 20px;
        margin-left: -1px;
      }
    }
    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
      color: #a1a2a6!important;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .el-submenu .el-menu-item.is-active{
      background: $subMenuHover!important;
      .border-left{
        position: absolute;
        width: 2px;
        height: 25px;
        background: #0F859D;
        left: 0;
        top: 50%;
        margin-top: -13px;
      }
    }
    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }
    /*箭头*/
    /*未展开*/
    .el-submenu__icon-arrow{
      transform: rotateZ(-90deg)!important;
      top:56%;
    }
    /*展开后*/
    .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow{
      -webkit-transform: rotateZ(0)!important;
      transform: rotateZ(0)!important;

    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;

      & .el-submenu__icon-arrow{
        color: $subMenuActiveText !important;
      }
      & .sub-el-icon{
        color: $subMenuActiveText !important;
      }
    }
    & .el-submenu>.el-submenu__title>span{
      font-size: 16px!important;
      font-family: PingFangZhongHei;
    }
    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
      color: $subMenuText!important;
      padding:  0 20px!important;

      &:hover {
        background-color: $subMenuHover !important;
      }
      &.is-active{
        color: $subMenuActiveText!important;
        .svg-icon{
          color: $subMenuActiveText!important;
        }
      }
      .svg-icon{
        transform: scale(0.7);
      }
    }
  }
   .el-menu-item.is-active i{
    color: $subMenuActiveText !important;
  }
  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }
    .hasSiderBar{
      width:calc(100vw - 62px) ;
    }
    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
.el-menu>div:nth-child(3) span{
  font-size: 16px;
  font-family: PingFangZhongHei;
}
