// sidebar
$menuText:#4C5967;
$subMenuText:#6D7C8D;
$menuActiveText:#0F859D;
$subMenuActiveText:#0F859D; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#fff;

$subMenuBg:#fff;
$subMenuHover:#F3F3F8;

$sideBarWidth: 180px;

$main:#03B2B4;

$mainTextColor:#282D32;

$btnBlue:#2E5BFF;
$btnOrange:#F47E4B;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  main:$main;
  subMenuText:$subMenuText
}
